<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <th:block th:include="/_header"></th:block>
    <th:block th:include="/_menu"></th:block>

    <div class="product-detail">
        <h1 th:text="${productInfo.name}"></h1>
        <img th:src="@{|/productImage?code=${productInfo.code}|}" alt="Product Image"/>
        <p>Code: <span th:text="${productInfo.code}"></span></p>
        <p>Price: <span th:text="${#numbers.formatDecimal(productInfo.price,3,2,'COMMA')}"></span></p>
        <p>In Stock: <span th:text="${productInfo.repo}"></span></p>
        <a th:href="@{|/buyProduct?code=${productInfo.code}|}">Buy Now</a>
    </div>
    <div class="comments-section">
        <h2>Comments</h2>       
        <table border="1" style="width:100%">
    		<tr>
		        <th>Name</th>
		        <th>Email</th>
		        <th>Comment</th>
		        <th>Date</th>
	    	</tr>
    		<tr th:each="comment : ${comments}">
		        <td th:utext="${comment.name}"></td>
		        <td th:utext="${comment.email}"></td>
		        <td th:utext="${comment.content}"></td>
		        <td th:utext="${#dates.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
		    </tr>
		</table>
    	
        <h3>Add a Comment</h3>
       
        <form action="#" th:action="@{/products/{code}/comment(code=${productInfo.code})}" method="post">
            <input type="hidden" name="productCode" th:value="${productInfo.code}"/>           
            <label>Comment:</label><br/>
            <textarea name="content" rows="4" required></textarea><br/>

            <button type="submit">Submit</button>
        </form>
	</div>
    <th:block th:include="/_footer"></th:block>
</body>
</html>