<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Sign Up</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      <div class="page-title">Sign Up</div>
      
      <div class="login-container">
         <h3>Enter your details to create a new account</h3>
         <br>
         <!-- Display error messages -->
         <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
             <div th:if="${#request.getParameter('error') == 'true'}"
                style="color: red; margin: 10px 0px;">
                Sign Up Failed!!!<br /> Reason :
                <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
             </div>
         </th:block>
         
         <form method="POST" th:action="@{/signup}">
            <table>
               <tr>
                  <td>User Name *</td>
                  <td><input name="userName" required /></td>
               </tr>
               <tr>
                  <td>Password *</td>
                  <td><input type="password" name="password" required /></td>
               </tr>
               <tr>
                  <td>Email *</td>
                  <td><input type="email" name="email" required /></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td>
                      <input type="submit" value="Sign Up" />
                      <input type="reset" value="Reset" />
                  </td>
               </tr>
            </table>
         </form>
         
         <span class="error-message" th:utext="${error}"></span>
      </div>
      
      <div style="text-align:left">
          <h3>Already have an account?</h3>
          <a href="/login">Login here</a>
      </div>
      
      <th:block th:include="/_footer"></th:block>
      
   </body>
</html>
